import com.u2d.view.swing

JDesktopPane
{
  background-color: #7684FF;
}

FormPane
{
  background-color: #fffaf0;
}

.command
{
  font-style: italic;
}

.list-title, .instance-title
{
  color: #400;
  font-weight: bold;
  font-size: 16pt;
}
.list-title-panel, .instance-title-panel
{
}

FieldCaption
{
  color: black;
  font-weight: normal;
}
.required
{
   color: blue;
   font-weight: bold;
}
.validation-msg
{
   color: red;
   font-style: italic;
}

.default-button
{
  font-weight: bold;
}

.feedback-pane
{
  color: white;
  background-color: #black;
  font-size: 24pt;
  font-weight: bold;
  padding: 30px;
}


